*, ::after, ::before {
  box-sizing: border-box;
}

:root {
  --color-blue: #083c5d;
  --color-darkblue: #1d2731;
  --color-gold: #d98310;
  --color-gray: #aaaaaa;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: var(--color-darkblue);
  padding: 37px 30px;
  position: fixed;
  width: 100%;
  height: 70px;
}

#navbar img {
  width: 50px;
}

#navbar li {
  display: inline-block;
  list-style-type: none;
  text-align: right;
  padding: 0 20px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: whitesmoke;
  background-color: var(--color-darkblue);
  background-image: url(./assets/code-background-gray.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-content {
 margin-left: 10%;
}

.welcome-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4px;
  padding-top: 10px;
}

.welcome-buttons a {
  padding: 10px 20px;
  background-color: var(--color-gold);
}

#welcome h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 70px;
  margin: 0;
  margin-bottom: 15px;
}

#welcome p {
  font-size: 19px;
  margin: 10px 0;
  padding-left: 3px;
}

#welcome .top-p {
  margin: 0;
  padding: 0;
}

.font-gold {
  color: var(--color-gold);
}

#projects {
  display: flex;
  flex-direction: column;
  background: var(--color-gray);
  text-align: center;
  justify-content: center;
  height: 100vh;
  background-image: url(./assets/proj-background-gray.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#projects .tile-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 280px));
  grid-auto-rows: auto;
  gap: 10px;
  row-gap: 15px;
  padding: 0 15px;
  justify-content: center;
}

#projects .project-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-position: top;
  margin: 0 auto;
  padding: 0;
  background-color: var(--font-orange);
  border-radius: 3px;
  box-shadow: rgba(128, 128, 128, 0.413) 5px 5px, rgba(128, 128, 128, 0.3) 10px 10px, rgba(128, 128, 128, 0.2) 15px 15px,rgba(128, 128, 128, 0.1) 20px 20px, rgba(128, 128, 128, 0.05) 25px 25px;
}

#projects h1 {
  color: var(--color-blue);
  font-size: 30px;
  padding-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
}

#projects h2 {
  color: var(--color-darkblue);
  font-size: 16px;
}

#projects img {
  width: 100%;
  height: calc(100% - 1.8rem);
  background-size: cover;
  object-position: top;
}

.projects-div-button {
  padding-top: 60px;
}

#projects-button {
  color: white;
  padding: 8px 20px;
  background-color: var(--color-gold);
}

#contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 92vh;
  background: var(--color-darkblue);
  color: white;
}

#contacts h2 {
  font-size: 55px;
  margin: 0;
  font-weight: bolder;
}

#contacts p {
  font-size: 25px;
  margin: 10px 0 50px;
  font-style: italic;
}

#contacts a {
  padding: 0 12px;
  font-size: 30px;
  margin: 0;
  color: whitesmoke;
}

footer {
  display: flex;
  text-align: right;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0;
  padding-right: 32px;
  height: 8vh;
  color: var(--color-gold);
  border-top: 2px solid var(--color-gold);
  background-color: var(--color-darkblue);
  font-size: 20px;
}


@media only screen and (min-width: 320px) and (max-width: 580px) {
  #navbar {
    padding: 0 10px;
  }
  #navbar ul {
    margin: 0;
    padding: 0;
  }
  #navbar li {
    padding: 0 6px;
    font-size: 11px;
  }
  #navbar img {
    width: 35px;
  }
  #welcome h1 {
    font-size: 45px;
  }
  #welcome p, #welcome a {
    font-size: 14px;
  }
  .welcome-content {
    margin-left: 10px;
  }
  #projects, #projects h1 {
    background-position: right top;
    background-position-y: 160px;
    font-size: 25px;
  }
  #projects-button {
    font-size: 14px;
  }
  #contacts h2 {
    font-size: 35px;
  }
  #contacts p {
    font-size: 20px;
   margin-bottom: 20px;
  }
  #contacts a {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    padding: 14px 0 0;
  }
  #contacts i {
    padding-right: 8px;
    justify-content: center;
  }
  footer {
    font-size: 14px;
  }
}

@media only screen and (min-width: 720px) {
  #projects .tile-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(180px, 280px));
    gap: 30px;
    grid-auto-rows: auto;
    margin: 0 auto;
  }
  #projects button {
    margin: 20px auto;
  }
}